body {
	background-color: #fff;
	color: #000;
	margin: 5mm;
}
.hour { font-size: smaller; font-weight: bold; color: #999; }
.sender { color: #c20; }
.sender.jid { font-family: monospace; }
.sender.meta { font-family: monospace; }
p.message { margin: 1mm 0; padding-left: 5mm; text-indent: -5mm; }

a:link, .b-link { color: #07c; text-decoration: none; cursor: pointer; }
a:hover, .b-link:hover { text-decoration: underline; }
.b-link.empty { font-weight: normal; }

.warning, .error { color: #900; font-weight: bold; }
.bnf-op { color: #c20; }
.help { padding: 0.5mm 2mm; border: dashed thin #ccc; background-color: #ffe; }

th { text-align: left; }
table.edit th, table.edit td { padding: 0 2mm; }
table.edit th:first-child, table.edit td:first-child { padding: 0; }
table.edit input { width: 100%; }

.b-tabbar {
	margin: 0;
	margin-top: 0.3mm;
	padding-top: 1.5mm;
	border-bottom: solid thin #aaa;
	font-weight: bold;
}
.b-tabbar-clear {
	background-color: #fff;
	height: 1.5mm;
	z-index: 1;
	position: relative;
}
.b-tab {
	padding-top: 0.5mm;
	padding-bottom: 1.5mm;
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-left: solid thin transparent;
	border-right: solid thin transparent;
}
.b-tab.selected {
	background-color: #fff;
	border: solid thin #aaa;
	border-bottom: none;
}
.b-tab-count {
	font-weight: normal;
}
.b-x0 .b-tab-count { color: #877777; }
.b-x1 .b-tab-count { color: #8f7070; }
.b-x2 .b-tab-count { color: #976767; }
.b-x3 .b-tab-count { color: #9f6060; }
.b-x4 .b-tab-count { color: #a75757; }
.b-x5 .b-tab-count { color: #af5050; }
.b-x6 .b-tab-count { color: #b74747; }
.b-x7 .b-tab-count { color: #bf4040; }
.b-x8 .b-tab-count { color: #c73737; }
.b-x9 .b-tab-count { color: #cf3030; }
.b-xa .b-tab-count { color: #d72727; }
.b-xb .b-tab-count { color: #df2020; }
.b-xc .b-tab-count { color: #e71717; }
.b-xd .b-tab-count { color: #ef1010; }
.b-xe .b-tab-count { color: #f70707; }
.b-xf .b-tab-count { color: #ff0000; }
